/* Add styles in this file. */
* {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: #1c3fc9;
}
body{
  background: rgb(245,223,172);
  background: radial-gradient(circle, rgba(245,223,172,1) 12%, rgba(255,223,148,0.9864320728291317) 97%);
}

h1 {
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  margin: 0.5em 0;
}

.wrapper {
  width: 760px;
  margin: 0 auto;
  border: 1px solid transparent;
  padding: 10px;
}

.list {
  border: 1px solid transparent;
  list-style: none;
  margin-top: 2em;
}

.list h2 {
  border-bottom: 4.5px solid #1c3fc9;
  font-size: 26px;
  font-weight: 900;
  font-style: italic;
  padding-bottom: 4px;
  border-radius: 2px;
}

.buttonWrapper {
  text-align: right;
  border: 1px solid transparent;
}
.list button {
  position: right;
  border: 3px solid #1c3fc9;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 6px 20px;
  margin: 0 0 30px 20px;
  border-radius: 2px;
}

.appendToDo {
  border: 1px solid transparent;
  width: 80%;
  margin: 50px auto;
}

.input {
  border: 1px solid transparent;
}

.appendToDo input {
  border-bottom: 4px solid #1c3fc9;
  background-color: transparent;
  width: 70%;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  padding: 10px 20px;
  margin-right: 5%;
}

.appendToDo button {
  width: 25%;
  font-size: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 6px 20px;
  border: 3px solid #1c3fc9;
  border-radius: 2px;
}

.progress-bar {
  box-sizing: border-box;
  height: 20px;
  width: 100%;
  background-color: #1c3fc9;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.progress-bar .bar {
  background: linear-gradient(to right, #f2d99e, #8c9ddf);
  height: 100%;
  border-radius: 2px;
}

@media (max-width: 750px) {
  .wrapper{
    width: 400px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 20px;
  }
}

